= form_for @movie do |f|
  - if @movie.errors.any?
    #error_explanation
      h2 = "#{pluralize(@movie.errors.count, "error")} prohibited this metric from being saved:"
      ul
        - @movie.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :category_id
    = f.collection_select(:category_id, @categories, :id, :title)
  .field
    = f.label :ratings
    = f.select :ratings, options_for_select(rate_options, @rate)

    Rating.rates.keys
  .actions = f.submit 'save'