div.col-md-4
  h1 Movies

.div.col-md-8
  strong Filter:
  | &nbsp;
  = link_to 'none', :movies
  | &nbsp;
  - @categories.each do |category|
    = link_to category, "#{movies_path}?category=#{category}"
    | &nbsp;



div.col-md-2
  strong Title
div.col-md-4
  strong Text
div.col-md-2
  strong Rate
div.col-md-2
  strong Category
div.col-md-2
  strong Actions

- @movies.each do |movie|
  div.col-md-2
    = movie.title
  div.col-md-4
    = movie.text
  div.col-md-2
    = select_tag 'rating', options_for_select(rate_options, movie.user_rate(current_user)), movie_id: movie.id #, disabled: current_user.present? ? false : true
  div.col-md-2
    = movie.category
  div.col-md-2
    - if current_user && current_user.admin?
      = link_to 'Show', movie
      | &nbsp;
      = link_to 'Edit', edit_movie_path(movie)
      | &nbsp;
      = link_to 'Destroy', movie, data: {:confirm => 'Are you sure?'}, :method => :delete
- if current_user && current_user.admin?
  .row
    div.col.md-12
      = link_to 'Create new movie', new_movie_path

= paginate @movies
