p
  strong Title:
  = @movie.title
  br
  strong Text:
  = @movie.text
  br
  strong Rating:
  = @movie.current_rate
  br
  strong Category:
  = @movie.category
  br
- if current_user && current_user.admin?
  = link_to 'Edit', edit_movie_path(@movie)
  '|
= link_to 'Back', movies_path
