form.form-signin
  img.mb-4 alt="" height="72" src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="72" /
  h1.h3.mb-3.font-weight-normal Please sign in
  label.sr-only for="inputEmail"  Email address
  input#inputEmail.form-control autofocus="" placeholder=("Email address") required="" type="email" /
  label.sr-only for="inputPassword"  Password
  input#inputPassword.form-control placeholder="Password" required="" type="password" /
  .checkbox.mb-3
    label
      input type="checkbox" value="remember-me" /
      | Remember me
  button.btn.btn-lg.btn-primary.btn-block type="submit"  Sign in
  p.mt-5.mb-3.text-muted © 2017-2019
