doctype html
html
  head
    title = t('layout.page_name')
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    .container
      div.row
        div.col-md-3
          = link_to t('layout.logo_name') , root_path, :class => 'brand'
        div.col-md-3
          = link_to 'categories', categories_path
        div.col-md-6
          - if current_user
            = t('layout.logged_in_as')
            '
            = link_to "#{current_user}", edit_user_registration_path
            | |
            '
          - if current_user
            = link_to t('layout.log_out'), destroy_user_session_path, :method => 'delete'
          - else
            = link_to t('devise.sessions.sign_in'), new_user_session_path

    .container
      div.row
        = yield